# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.project
.classpath
.settings/
target/
tags
logs/
assembly/
conf/
*.log
webRoot/
*.zip
*.tar.gz
*.pid
.checkstyle
.fbIncludeFilterFile
*.iml
.idea/
*/target/
/西安测试.sh
